:root {
    --background-main-color: linear-gradient(180deg, #FFFFFF 35.7%, #D8EFFF 100%);
    --background-white-color: #FFFFFF;
    --main-text-color: #01457A;
    --nav-text-color: #000000;
    --link-text-color: #00A8CC;
    --body-content-max-width: 1152px;
}
